.page-root {
    -fx-background-color: linear-gradient(to bottom right, #050B2C, #14003B);
    -fx-padding: 30px;
}

.main-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.sub-title {
    -fx-font-size: 16px;
    -fx-text-fill: #C9C9E2;
}

.search-field {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-text-fill: white;
    -fx-prompt-text-fill: #bdbdbd;
    -fx-background-radius: 12;
    -fx-padding: 12;
    -fx-font-size: 14px;
}

.btn-main {
    -fx-background-color: #7B2FF7;
    -fx-text-fill: white;
}

.btn-second {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-text-fill: white;
}

.collab-card {
    -fx-background-color: rgba(35,25,90,0.6);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: rgba(255,255,255,0.2);
    -fx-padding: 20;
}

.collab-card-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #B9C4E2;
}

.collab-card-tag {
    -fx-background-color: #5731A5;
    -fx-text-fill: white;
}

.collab-desc {
    -fx-text-fill: rgba(255,255,255,0.85);
}
/* .back-button {
    -fx-background-color: white;
    -fx-text-fill: #0f172a;
} */
.back-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #0f172a;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-padding: 8 18 8 18;
}