
.profile-info-card {
    -fx-background-color: rgba(20, 10, 50, 0.75) !important; 
    -fx-background-radius: 15px;
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
}


.profile-info-card .label {
    -fx-text-fill: #FFFFFF !important;
    -fx-font-weight: bold !important;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, 0, 1);
}


.profile-label-left {
    -fx-text-fill: #E2D9F3 !important;
}

.profile-label-right {
    -fx-text-fill: #FFFFFF !important;
}