.root-bg {
    -fx-background-color: #12003D;
}


.top-bar {
    -fx-background-color: #1A0A5E; 
    -fx-border-color: #301665; 
    -fx-border-width: 0 0 1 0;
}


.btn-back {
    -fx-background-color: transparent; 
    -fx-text-fill: #FFFFFF; 
    -fx-font-weight: bold; 
    -fx-cursor: hand;
}


.card-panel {
    -fx-background-color: #1A0A5E; 
    -fx-background-radius: 8; 
    -fx-border-color: #301665; 
    -fx-border-radius: 8;
}


.combo-box-custom {
    -fx-background-color: #12003D; 
    -fx-text-fill: #FFFFFF; 
    -fx-border-color: #301665; 
    -fx-border-radius: 4;
}


.action-info-label {
    -fx-background-color: #12003D; 
    -fx-border-color: #301665; 
    -fx-border-radius: 4; 
    -fx-background-radius: 4;
}


.btn-primary {
    -fx-background-color: #9D7BEA; 
    -fx-text-fill: #000000; 
    -fx-font-weight: bold; 
    -fx-background-radius: 4; 
    -fx-cursor: hand;
}


.btn-secondary {
    -fx-background-color: #301665; 
    -fx-border-color: #9D7BEA; 
    -fx-border-radius: 4; 
    -fx-text-fill: #FFFFFF; 
    -fx-font-weight: bold; 
    -fx-background-radius: 4; 
    -fx-cursor: hand;
}


.btn-submit {
    -fx-background-color: #5A29B3; 
    -fx-text-fill: white; 
    -fx-font-weight: bold; 
    -fx-background-radius: 4; 
    -fx-cursor: hand;
}