# Gradle
.gradle/
build/

# Java
*.class
*.log

# IDE
.idea/
.vscode/
out/
bin/

# BlueJ
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM Crash Logs
hs_err_pid*
replay_pid*